<!DOCTYPE html>
<html>
<head>
<title> TutorCollective </title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<%= stylesheet_link_tag    "application", :media => "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <%= link_to 'TutorCollective', root_path, :class => 'navbar-brand navbar-left' %>
    <div class="navbar-collapse collapse navbar-right">					
      <ul class="nav navbar-nav">            
        <% if current_user %>
        <li>
        <button type="button" class="btn btn-success btn-sm">See ya later alligator! </button>
        </li>
        <% else %>
        <li>
        <button type="button" class="btn btn-success btn-sm">Register, yes, do it! </button>
        </li>
        <li>
        <button type="button" class="btn btn-success btn-sm">Login </button>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="container">

<div class="row">
<div class="col-md-8">
<% if flash.notice %>
  <div class="alert alert-block alert-info">
    <button type="button" class="close" data-dismiss="alert">×
    <%= flash.notice %>
  </div>
<% end %>
<% if flash.alert %>
  <div class="alert alert-block alert-error">
    <button type="button" class="close" data-dismiss="alert">×
    <%= flash.alert %>
  </div>
<% end %>				
</div>
</div>

<%= yield %>

</div>

</body>
</html>